<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Login</title>
  <link rel="icon" th:href="@{/img/favicon.ico}" />
  <!-- CSS FILES -->
  <link rel="stylesheet" type="text/css" th:href="@{/css/uikit.min.css}" />
</head>
<body class="uk-flex uk-flex-center uk-flex-middle uk-background-muted uk-height-viewport" data-uk-height-viewport="">
<div class="uk-width-medium uk-padding-small">
  <!-- login -->
  <form class="toggle-class" method="post" th:action="@{/login}">
    <fieldset class="uk-fieldset">
      <div class="uk-margin-small">
        <div class="uk-inline uk-width-1-1">
          <span class="uk-form-icon uk-form-icon-flip" data-uk-icon="icon: user"></span>
          <input class="uk-input uk-border-pill" required="" placeholder="Username" type="text" name="username" />
        </div>
      </div>
      <div class="uk-margin-small">
        <div class="uk-inline uk-width-1-1">
          <span class="uk-form-icon uk-form-icon-flip" data-uk-icon="icon: lock"></span>
          <input class="uk-input uk-border-pill" required="" placeholder="Password" type="password" name="password" />
        </div>
      </div>
      <div class="uk-margin-bottom">
        <button class="uk-button uk-button-primary uk-border-pill uk-width-1-1">LOG IN</button>
      </div>
    </fieldset>
  </form>
  <!-- /login -->
</div>
<!-- JS FILES -->
<script th:src="@{/js/uikit.min.js}"></script>
<script th:src="@{/js/uikit-icons.min.js}"></script>
</body>
</html>